table.generaltable.latable {
    overflow-x: auto;
    display: table;
}
.latable .iconlarge {
    vertical-align: bottom;
}

.bar {
    width: 99%;
    height: 4px;
}

.bar .segment {
    background: #000;
    height: 100%;
    min-width: 1px;
}
.bar .segment.red {
    background: #ea030e;
}
.bar .segment.green {
    background: #a9cf54;
}
.bar .segment.orange {
    background: #f26522;
}
.bar .segment.yellow {
    background: #ffda6e;
}
.bar .segment.blue {
    background: #66b5ab;
}
.bar .segment.gray {
    background: #bbb;
}
.bar .segment.navy {
    background: #000080;
}
.bar .segment.pdfred {
    background: #d55351;
}

.showFullList {
    text-align: center;
}

.la_params_form {
    margin: 5px;
}

.la_params_form  input,
select {
    margin-left: 2px;
    margin-right: 2px;
}

.la_nav li.active > a {
    color: #000;
}

.courses-view-course {
    font-size: 110%;
    margin-left: 3px;
}

.coursedashboard-compare {
    position: relative;
    top: -10px;
    text-align: right;
    padding-right: 20px;
}