<p>{{# str }} admin_customfield_info, local_learning_analytics {{/ str }}</p>
<ul>
<li>
    <a href="../course/customfield.php">{{# str }} admin_customfield_category, local_learning_analytics {{/ str }}</a> ({{# str }} admin_customfield_category_hint, local_learning_analytics {{/ str }})</li>
<li>
    <a href="../customfield/edit.php?id={{{customfieldid}}}">{{# str }} admin_customfield_option, local_learning_analytics {{/ str }}</a> ({{# str }} admin_customfield_option_hint, local_learning_analytics {{/ str }})</li>
</ul>
<p>{{# str }} admin_customfield_no_manual_delete, local_learning_analytics {{/ str }}</p>