<nav class="navbar navbar-dark bg-primary">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{prefix}}/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{prefix}}/courses">Courses</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Reports</a>
            <div class="dropdown-menu">
                {{#reports}}
                    <a class="dropdown-item" href="{{prefix}}/reports/{{.}}">{{.}}</a>
                {{/reports}}
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Need help</a>
        </li>
    </ul>
</nav>

<div class="learning_analytics-content" style="margin-top: 20px">
    {{content}}
</div>