<div class="learning_analytics-content">
    <div class='row'><div class='col'><h2>{{# str }} help_title, local_learning_analytics {{/ str }}</h2></div></div>
    <hr/>

    <div class='text-center'>
        <a href='index.php/reports/coursedashboard?tour=1&course={{courseid}}' class='btn btn-primary btn-lg'>
        {{# pix }} t/go, core, Start {{/ pix }}
        {{# str }} help_take_tour, local_learning_analytics {{/ str }}</a>
    </div>

    {{#helptext}}
    <p>{{{.}}}</p>
    {{/helptext}}

    <hr/>

    <h3>{{# str }} help_faq, local_learning_analytics {{/ str }}</h3>
    <ul class='helplist'>
        <li>
            <p class='heading'>{{# str }} help_faq_personal_data_question, local_learning_analytics {{/ str }}</p>
            <p>{{# str }} help_faq_personal_data_answer, local_learning_analytics {{/ str }}</p>
        </li>
        <li>
            <p class='heading'>{{# str }} help_faq_week_start_question, local_learning_analytics {{/ str }}</p>
            <p>
                {{# str }} help_faq_week_start_answer, local_learning_analytics, {{coursesettingslink}} {{/ str }}
            </p>
        </li>
        <li>
            <p class='heading'>{{# str }} help_faq_data_storage_question, local_learning_analytics {{/ str }}</p>
            <p>{{# str }} help_faq_data_storage_answer, local_learning_analytics {{/ str }}</p>
            <ul>
            {{#loggeddatalist}}
            <li>{{{.}}}</li>
            {{/loggeddatalist}}
            </ul>
        </li>
        <li>
            <p class='heading'>{{# str }} help_faq_privacy_threshold_question, local_learning_analytics, {{privacythreshold}} {{/ str }}</p>
            <p>{{# str }} help_faq_privacy_threshold_answer, local_learning_analytics, {{privacythreshold}} {{/ str }}</p>
        </li>
        <li>
            <p class='heading'>{{# str }} help_faq_visibility_question, local_learning_analytics {{/ str }}</p>
            <p>{{# str }} help_faq_visibility_answer, local_learning_analytics {{/ str }}</p>
        </li>
        <li>
            <p class='heading'>{{# str }} help_faq_developer_question, local_learning_analytics {{/ str }}</p>
            <p>{{# str }} help_faq_developer_answer, local_learning_analytics {{/ str }} <a href="https://github.com/rwthanalytics/moodle-local_learning_analytics">https://github.com/rwthanalytics/moodle-local_learning_analytics</a></p>
        </li>
    </ul>
</div>