<div class="learning_analytics-content" style="margin-top: 20px">


    <h2>{{# str }} data_to_be_imported {{/ str }}</h2>
    <table class="generaltable" style="width:400px;">
        <tbody>
        <tr>
            <th class="header c0">Log items</th>
            <td class="cell c0">{{estimation.logs}}</td>
        </tr>
        <tr>
            <th class="header c0">Users</th>
            <td class="cell c0">{{estimation.users}}</td>
        </tr>
        </tbody>
    </table>

    {{^tableIsEmpty}}
        <p>TODO: Warning: Table is not empty. There were already some things logged.</p>
    {{/tableIsEmpty}}

    <p>To start the import process, press the following button. Be aware that the progress might take a few minutes.</p>
    <button id="start_import_btn" class="btn">Start import</button>
    <button id="stop_import_btn" class="btn">Stop import</button>

    <div id="import_info"></div>


</div>